body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  position: relative;
}
.dancefloor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: hidden;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  position:relative;
  z-index:5;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gif{
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 100%;
}

.worm{
  cursor: pointer;
}

.popUp {
  -ms-transform: rotate(-45deg) translateY(-70%)!important;
  -o-transform: rotate(-45deg) translateY(-70%)!important;
  -moz-transform: rotate(-45deg) translateY(-70%)!important;
  -webkit-transform: rotate(-45deg) translateY(-70%)!important;
  transform: rotate(-45deg) translateY(-70%)!important;
  -ms-transform-orign: 50% 50%;
  -o-transform-orign: 50% 50%;
  -moz-transform-orign: 50% 50%;
  -webkit-transform-orign: 50% 50%;
  transform-orign: 50% 50%;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.popDown {
  -ms-transform: rotate(45deg)!important;
  -o-transform: rotate(45deg)!important;
  -moz-transform: rotate(45deg)!important;
  -webkit-transform: rotate(45deg)!important;
  transform: rotate(45deg) !important;
  -ms-transform-orign: 50% 50%;
  -o-transform-orign: 50% 50%;
  -moz-transform-orign: 50% 50%;
  -webkit-transform-orign: 50% 50%;
  transform-orign: 50% 50%;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  -moz-transition: 500ms;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.popLock{
  background-size: 80%;
  cursor: pointer;
}

.bigger{
  -ms-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}

.flipped {
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.goToHorizon {
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto;
  -ms-transform: scale(0) !important;
  -o-transform: scale(0) !important;
  -moz-transform: scale(0) !important;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -ms-transition: 3s;
  -o-transition: 3s;
  -moz-transition: 3s;
  -webkit-transition: 3s;
  transition: 3s;
}

.controls {
  float: left;
  display: block;
  line-height;
  width: 8em;
  margin: 0.25em 0.5em 0 1em;
}
