body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  position:relative;
  z-index:5;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  -ms-transition: 200ms;
  -o-transition: 200ms;
  -moz-transition: 200ms;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.gif{
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 100%;
}

.worm{
}

.popLock{
  background-size: 80%;
}

.bigger{
  -ms-transform: scale(1.5,1.5);
  -o-transform: scale(1.5,1.5);
  -moz-transform: scale(1.5,1.5);
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
